body {

    font-family: 'Microsoft Jhenghei';
    margin: 20px;
    margin-top: 30px;
}

* {
    /* border: 1px solid black; */
}

/*============ index ============*/
.title{
    font-size: 40px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 10px;
}

.subtitle{
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.logo{
    width: 300px;
    margin: auto;
    text-align: center;
}

.topbar{
    width: 32%;
    display: block;
    text-align: center;
}

.img-buttombar{
    margin-top:10px;
    margin-bottom: 10px;
    width: 20%;
    height:5px;
}

.buttombar-list{
    margin-top: 20px;
    display: flex;
}

p {
    width: auto;
    margin-top: 10px;
}

.img-bar {
    width: 100%;
    height:5px;
}

.left-card {
    width: 400px;
    justify-content: center;
}

.right-card {
    width: 500px;
}

.topbar-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sreach-bar {
    margin-top: 25px;
    width:87%;
    height:18px;
}

.sreach-btn {
    margin-top: 30px;
    width:10%;
    height:18px;
}


/*============ feedback ============*/
.form-box{
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
}

.form-textarea {
    width:100%;
    text-align: center;
    border: 1px solid black;
}

.form-group{
    margin-top: 3px;
    text-align: center;
}

.submit-btn{
    width: 100px;
    background-color: #97a788;
    border: 1px solid #B7C6A8;
    color: black;
    font-size: 14px;
    padding: 5px 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.form-control{
    display: block;
    width: 100%;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.5;
    color: #6e7072;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
}